@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root{
    /* Color primary */
    --strong-cyan: hsl(172, 67%, 45%);
    --light-cyan: hsl(172, 44%, 69%);
    /* Colors neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-brightness: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-gray-h-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 50%);
}

header,fieldset,input,.container-tips-percentage button,.section-data-person .rows-data p,.section-data-person button,.section-data-person span,form button{
    font-weight: 700;
}

header,main{
    display: grid;
    justify-content: center;
}

header{
    align-items: center;
    height: 25vh;
    background-color: var(--light-grayish-cyan);
}

main{
    position: relative;
    bottom: 1rem;
    padding: 0 2rem;
    border-radius: 20px 20px 0 0;
    background-color: var(--white);
}

a{
    text-decoration: none;
}

fieldset{
    position: relative;
}

fieldset img{
    position: absolute;
    left: 15px;
    top: 15px;
}

fieldset,button,input{
    border: none;
}

fieldset{
    color: var(--dark-grayish-cyan);
    font-size: 0.8rem;
    margin: 2rem 0;
}

fieldset legend{
    display: flex;
    gap: 9rem;
    margin: 0.8rem 0;
}

fieldset input.error{
    border: 2px solid var(--red);
}

.container-tips-percentage p.error,footer{
    margin: 1rem 0;
    text-align: center;
}

.container-tips-percentage p.error,fieldset span{
    color: var(--red);
}

input,button{
    border-radius: 3px;
    outline: none;
}

input{
    width: 100%;
    background-color: var(--light-gray-h-cyan);
    color: var(--very-dark-cyan);
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:not(#btn-custom){
    padding: 5px 5px 5px 2rem;
    text-align: right;
}

input:not(#btn-custom)::placeholder{
    opacity: 0.5;
    color: var(--dark-grayish-cyan-brightness);
}

#btn-custom{
    text-align: center;
}

#btn-custom::placeholder{
    color: var(--dark-grayish-cyan);
}

input:focus{
    border: 2px solid var(--strong-cyan);
}

.section-enter-data-person form button{
    width: 100%;
    margin: 0 0 1rem;
}

.container-buttons-tips-percentage{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 0.7rem;
}

.container-tips-percentage input,.section-data-person button,form button{
    font-size: 1.2rem;
}

.container-tips-percentage button{
    font-size: 1.2rem;
    background-color: var(--very-dark-cyan);
    padding: 5px 10px;
    transition: all 0.5s;
}

.container-tips-percentage button:focus{
    background-color: var(--light-cyan);
    color: var(--very-dark-cyan);
    border: 2px solid var(--very-dark-cyan);
    transition: all 0s;
}

.container-tips-percentage input:focus{
    border: var(--red) !important;
}

.section-data-person{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-dark-cyan);
    margin: 1rem 0;
    padding: 2rem 1.5rem;
    border-radius: 15px;
}

.section-data-person button,form button{
    padding: 5px 1rem;
    transition: all 0.5s;
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

.section-enter-data-person button:hover,.section-data-person button:hover,form button:hover{
    cursor: pointer;
    color: var(--very-dark-cyan);
    background-color: var(--light-cyan);
}

button,.section-data-person h5{
    color: var(--white);
}

.section-data-person :is(p,span){
    color: var(--strong-cyan);
}

/* .section-data-person button:disabled{
    opacity: 0.9;
    cursor: not-allowed;
} */

.section-data-person .rows-data{
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;
}

.section-data-person .rows-data p{
    font-size: 0.8rem;
}

input,.section-data-person .rows-data span{
    font-size: 1.5rem;
}

.section-data-person .rows-data p,footer a{
    color: var(--dark-grayish-cyan-brightness);
}

/* Screen desktop */
@media (min-width: 880px) {
    body{
        background-color: var(--light-grayish-cyan);
    }

    main{
        width: 80%;
        margin: 0 auto;
        position: initial;
        display: flex;
        padding: 0;
        box-shadow: 5px 10px 5px 5px var(--light-grayish-cyan);
        border-radius: 20px;
    }
    
    .container-buttons-tips-percentage{
        grid-template-columns: repeat(3, 30%);
    }

    .section-enter-data-person,.section-data-person{
        width: 50%;
        margin: 2rem;
    }

    .section-data-person .rows-data span{
        font-size: 2rem;
    }
}