@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root{
    /* Color primary */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Colors neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-brightness: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-gray-h-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

header,.description,.section-tips-percentage button,.section-data-person .rows-data p,.section-data-person button,.section-data-person span{
    font-weight: 700;
}

header,main{
    display: grid;
    justify-content: center;
}

header{
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
    padding: 2rem;
}

main{
    background-color: var(--white);
    border-radius: 20px 20px 0 0;
}

a{
    text-decoration: none;
}

fieldset{
    position: relative;
}

fieldset img{
    position: absolute;
    left: 15px;
    top: 15px;
}

fieldset,input,button{
    border: none;
}

fieldset,section{
    margin: 1rem 0;
}

.description{
    color: var(--dark-grayish-cyan);
    font-size: 0.8rem;
    margin: 5px 0;
}

input,button{
    border-radius: 3px;
    outline: none;
}

input{
    width: 100%;
    padding: 5px;
    background-color: var(--light-gray-h-cyan);
}

.section-tips-percentage button{
    font-size: 1rem;
    background-color: var(--very-dark-cyan);
}

.section-tips-percentage button:nth-child(6){
    background-color: var(--light-gray-h-cyan);
    color: var(--very-dark-cyan);
}

.container-buttons-tips-percentage{
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    gap: 0.7rem;
}

button{
    padding: 5px 1rem;
    color: var(--white);
}

button:hover{
    cursor: pointer;
}

.section-data-person{
    display: grid;
    background-color: var(--very-dark-cyan);
    padding: 1rem;
    border-radius: 15px;
}

.section-data-person h5{
    color: var(--white);
}

.section-data-person p{
    color: var(--strong-cyan);
}

.section-data-person button{
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

.section-data-person .rows-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem 0;
}

.section-data-person .rows-data p{
    font-size: 0.8rem;
    color: var(--dark-grayish-cyan-brightness);
}

input, .section-data-person span{
    font-size: 1.5rem;
}

.section-data-person button{
    font-size: 1rem;
    margin: 1rem 0 0;
}

.section-data-person span{
    color: var(--strong-cyan);
}

header, .section-data-person button{
    text-transform: uppercase;
}

footer{
    text-align: center;
}

footer a{
    color: var(--dark-grayish-cyan-brightness);
}